html {
    font-size: 10px;
    background: url('background/drum_background.jpg') bottom center;
    background-size: cover;
  }


.key {
    border: .4rem solid black;
    /* border-radius: .5rem; */
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.2s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(145, 145, 145, 0.5);
    text-shadow: 0 0 .7rem rgb(0, 0, 0);
  }

  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  kbd {
    display: block;
    font-size: 4rem;
  }

  .sound {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffef09;
    text-shadow: 0 0 .7rem rgb(0, 0, 0);
  }

  .playing {
    transform: scale(1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }